---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			.intro {
				@apply w-2/3;
				@apply mx-auto;
				font-size: 5rem;
				@apply my-10;
				@apply font-serif;
			}
		</style>
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<div class="intro">
				Harvey writes post about<br>
				Failures and Mistakes,<br>
				Ups and Downs.
			</div>
		</main>
		<Footer />
	</body>
</html>
