---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>This website is still under construction.</h1>
			<h1>Hello, I'm Harvey Chiu.</h1>
			<p>I am a law school student who has interest in tech, programming.</p>
			<p>I write blog to express my ideas about productivity and personal thoughts.</p>
			<p>I am a Chinese so most posts are written in Chinese. Feel free to <a href="mailto:harveyqiu1110@outlook.com">contact me</a> if you need a English version.</p>
		</main>
		<Footer />
	</body>
</html>
