---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
---

<header class="flex flex-row justify-between">
	<div class="my-2 font-bold mx-2 text-base">
		<a href="/">{SITE_TITLE}</a>
	</div>
	<nav class="my-2 mx-2">
		<HeaderLink href="/article">Article</HeaderLink>
		<HeaderLink href="/grumble">Grumble</HeaderLink>
		<HeaderLink href="/project">Project</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
	</nav>
</header>
<style>
</style>
